{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}

{% block beforeContent %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Submit a DDaT capability assessment</h1>
    <p class="govuk-body">Use this service if you work in a DDaT Capability Framework defined role</p>
    <p class="govuk-body">You can use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>create a new assessment, or update an existing one</li>
      <li>provide evidence of meeting the skill levels required for your role</li>
      <li>send your assessment to your line manager for evaluation</li>
    </ul>
    {{ govukButton({
      'text': "Start now",
      'href': "#",
      'isStartButton': true
    }) }}
    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">If you are updating an existing assessment, you will need the unique ID and your email address to retrieve the information.</p>
  </div>
</div>
{% endblock %}